<section data-ng-controller="HomeController">

<video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
<source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
</video>
	<br>	
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />-->
				<h1>TERRITORIOS</h1>
				<h2>Plataforma cooperativa de proyectos territoriales</h2>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Informá sobre tu proyecto o de otro/s que tenga un impacto en la provincia de Córdoba
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/articles/create">Informar</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="map"></div>
		</div>
	</div>
	<br>
</section>